# === Laravel ===
/vendor
/node_modules
/public/storage
/public/hot
/public/build
/storage/*.key
/storage/logs/*
/storage/framework/cache/*
/storage/framework/sessions/*
/storage/framework/views/*
/storage/pail
/.phpunit.result.cache
.phpunit.result.cache
.phpactor.json
/.phpunit.cache
/.env
.env
.env.backup
.env.production
Homestead.yaml
Homestead.json

# === Docker ===
/docker-compose.override.yml
/.docker
/.env.docker
Dockerfile
*.pid

# === IDE / Editor ===
.idea/
.vscode/
.fleet/
.zed/
*.swp
*~

# === OS & Misc ===
.DS_Store
Thumbs.db
*.log
auth.json

# === PHP / Composer ===
/composer.lock
.phpactor.json

# === Nova (Laravel Nova)
/.nova

# === Temporary ===
/tmp

# Unnecessary files
*.backup*
*.txt
*.php
alur_aplikasi_surat_md.md
presentasi_sistem_surat.md
project_progress.md
TODO.md
usecase_pengajuan_mahasiswa.svg
docker-compose.yml
how f893537
load('role'
sudo